<template name='privacyPolicy'>
  <p>PRIVACY STATEMENT - Annulus Share (https://www.annulus-studios.com/)</p>
  <p>----</p>
  <p>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</p>
  <p>When you sign up on/for our service(s), as part of the registration and uploading process, we collect the personal information you give us such as your name, and email address.</p>
  <p>When you browse our website, we also automatically receive your computer&rsquo;s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
  <p>Email marketing (if applicable): We will never send you marketing emails about our new products and other updates.</p>
  <p><br />SECTION 2 - CONSENT</p>
  <p>How do you get my consent?</p>
  <p>When you provide us with personal information to complete a sign up, upload, and utilize sharing functionality, we imply that you consent to our collecting it and using it for that specific reason only.</p>
  <p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
  <p><br />How do I withdraw my consent?</p>
  <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at annulus.studios@gmail.com.</p>
  <p><br />SECTION 3 - DISCLOSURE</p>
  <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>
  <p><br />SECTION 4 - THIRD-PARTY SERVICES</p>
  <p><br />In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
  <p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
  <p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
  <p>In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>
  <p>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</p>
  <p>Once you leave our store&rsquo;s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website&rsquo;s Terms of Service.</p>
  <p><br />Links</p>
  <p>When you click on links on our website, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</p>
  <p><br />SECTION 5 - SECURITY</p>
  <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
  <p>If you provide us with ANY information, the information is encrypted using secure socket layer technology (SSL), more accurately, Transport Layer Security (TLS) to communicate with our servers and databases. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all generally accepted industry standards.</p>
  <p>Important Note on SSL and TLS -</p>
  <p>"Transport Layer Security (TLS) and its predecessor, Secure Sockets Layer (SSL), both frequently referred to as "SSL", are cryptographic protocols that provide communications security over a computer network."</p>
  <p>COOKIES</p>
  <p>Cookies are used to ensure you are logged in when you come back to the website at a later date (These cookies are operated and created by us).</p>
  <p>Furthermore, cookies are also used to collect data specific to the device being used, including your IP address being used to access our service. This data is utilized to improve our services.</p>
  <p><br />SECTION 6 - AGE OF CONSENT</p>
  <p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
  <p><br />SECTION 7 - CHANGES TO THIS PRIVACY POLICY</p>
  <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
  <p>If our website is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to provide services to you.</p>
  <p><br />QUESTIONS AND CONTACT INFORMATION</p>
  <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at annulus.studios@gmail.com.</p>
  <p>----</p>
  {{> globalFooter}}
</template>
