<template name="exifShowcase">
  <div class="container-fluid">

    <div class="exifShowcase row">
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-xs-12 exifContent">
        <button style="cursor: pointer;" class="btn waves-effect btn-primary" type="button" data-toggle="collapse" data-target="#mobileExifMetadata" aria-expanded="false" aria-controls="mobileExifMetadata">
          Show/Hide Metadata
        </button>
        <div class="collapse" id="mobileExifMetadata">
          <div class="card">
            <div class="card-block">
              <p><strong>Make: </strong>Canon</p>
              <p><strong>Model: </strong>EOS 600D</p>
              <p><strong>Artist: </strong>Ali Hamieh</p>
              <p><strong>Copyright: </strong>alihamieh008@gmail.com</p>
              <p><strong>Lens Model: </strong>EF50mm f/1.8 II</p>
              <p><strong>F-Stop: </strong>2.5</p>
              <p><strong>ISO: </strong>200</p>
              <p><strong>Exposure Time: </strong>0.01(s)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
