<template name="profileMain">
  <style>
  .navbar {
      background-color: #2E2E2E;
      color: black;
  }
  </style>
  {{> loginSignupUI}}
  {{> fixedNavigationBar}}
  {{> uploadForm}}
  {{> globalFooter}}
</template>
