<template name="tutorialPage">
  <div class="tutorialVideoBody">
    {{#if resetPassword}}
      {{> loginSignupUI}}
      {{> resettingPassword}}
    {{else}}
      {{> fixedNavigationBar}}
      {{> loginSignupUI}}
      {{> tutorialVideo}}
    {{/if}}
  </div>
  {{> globalFooter}}
</template>
