<template name="commentsModal">    
    <div class="col-md-4 col-sm-12 col-xs-12 float-right">
        <div id="commentsContent" class="col-12">
            {{#if commentsExist}}
                {{#each commentsfromDB.comments}}
                    <div class="row">
                        <div class="col-12">
                            <p><b>{{byuserName}}: </b> {{comment}} {{#if isOwnerofComment}}<span class="float-right"><a id="deleteComment" href="" class="small">Delete</a></span>{{/if}}</p>
                            <p class="blockquote-footer small">{{commentedAt}}</p>
                            <hr>
                        </div>
                    </div>
                {{/each}}
            {{else}}
            There are no comments here.
            {{/if}}
        </div>
        <hr>
        <form id="commentInput">
            <div class="input-group md-form form-sm">
                <input type="text" id="commentInput" name="commentInput" class="form-control">
                <label for="commentInput" class="">Comment</label>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add</button>
                </span>
            </div>
        </form>
    </div>
</template>