<template name="createModal">
  <div class="modal fade bd-example-modal-lg" id="createPost" tabindex="-1" role="dialog" aria-labelledby="createPost" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">Create Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <form id="postForm">
                    <div class="md-form form-sm">
                      <i class="fa fa-header prefix"></i>
                      <label for="postTitle">Title</label>
                      <input id="postTitle" class="form-control" type="text" name="title">
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea style="resize: none;" type="text" id="postDescription" name="description" class="md-textarea"></textarea>
                        <label for="postDescription">Description</label>
                    </div>

                    <div class="md-form">
                      <input class="float-left" id="fileInput" type="file" accept="image/jpeg" />
                      <button type="submit" class="btn waves-effect btn-elegant float-right">Post <i class="fa fa-send ml-1"></i></button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div id="uploadingAlerts">
                    <div class="alert alert-warning" role="alert">
                      <strong>Note:</strong> We only accept JPEG images at this time.
                    </div>
                    <div id="uploadingFileLoading" class="collapse errorMargin">
                      <div class="progress" role="progressbar">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          Uploading! Please wait...
                        </div>
                      </div>
                    </div>
                    <div id="missingImageError" class="collapse errorMargin">
                      <div class="alert alert-danger" role="alert">
                        <strong>Error:</strong> Please upload an image first, then submit your post.
                      </div>
                    </div>
                    <div id="uploadingFileSuccess" class="collapse errorMargin">
                      <div class="alert alert-success" role="alert">
                        <strong>Done!</strong> File successfully uploaded.
                      </div>
                    </div>
                    <div id="preUploadError" class="collapse errorMargin">
                      <div id="preUploadErrorContent" class="alert alert-danger" role="alert">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
        </div>

      </div>

    </div>
  </div>
</template>
