<template name="followModal">
  <div class="modal fade mdModal" id="follow-unfollowUser" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog modal-lg cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Modal cascading tabs-->
              <div class="modal-c-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#followPanel" role="tab"><i class="fa fa-user-plus mr-1"></i> Follow</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#unfollowPanel" role="tab"><i class="fa fa-user-times mr-1"></i> Unfollow</a>
                      </li>
                  </ul>

                  <!-- Tab panels -->
                  <div class="tab-content">
                      <!--followPanel-->
                      <div class="tab-pane fade in show active" id="followPanel" role="tabpanel">
                          <!--Body-->
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-12">
                                <h4>Follow Users</h4>
                                <hr>
                                <form id="searchForm">
                                    <div class="md-form form-sm">
                                      <i class="fa fa-user-circle-o prefix"></i>
                                      <input name="username" type="text" class="form-control col-12" id="inlineFormInputGroup">
                                      <label for="loginFormEmail">Username</label>
                                    </div>
                                    <button type="submit" class="btn waves-effect btn-elegant">Follow <i class="fa fa-user-plus ml-1"></i></button>
                                </form>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div id="searchErrorHandle">
                                  <div id="searchError" class="collapse errorMargin">
                                    <div id="searchErrorContent" class="alert alert-danger" role="alert">
                                    </div>
                                  </div>
                                  <div id="searchSuccess" class="collapse errorMargin">
                                    <div id="searchSuccessContent" class="alert alert-success" role="alert">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--Footer-->
                          <div class="modal-footer display-footer">
                            <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                          </div>

                      </div>
                      <!--/.followPanel-->

                      <!--unfollowPanel-->
                      <div class="tab-pane fade" id="unfollowPanel" role="tabpanel">

                          <!--Body-->
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-12">
                                <h4>Unfollow Users</h4>
                                <hr>
                                <form id="unfollowForm">
                                  <div class="md-form form-sm">
                                    <i class="fa fa-user-circle-o prefix"></i>
                                    <input name="unfollowUsername" type="text" class="form-control col-12" id="inlineFormInputGroup">
                                    <label for="loginFormEmail">Username</label>
                                    <button type="submit" class="btn waves-effect btn-elegant">Unfollow <i class="fa fa-user-times ml-1"></i></button>
                                  </div>
                                </form>
                                <a data-toggle="collapse" href="#dangerousOption">Want to unfollow all?</a>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div id="dangerousOption" class="collapse errorMargin">
                                  <button href="" id="unfollowALL" class="btn waves-effect btn-danger">
                                    Unfollow All - (Careful!)
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div id="unfollowErrorHandle">
                                  <div id="unfollowError" class="collapse errorMargin">
                                    <div id="unfollowErrorContent" class="alert alert-danger" role="alert"></div>
                                  </div>
                                  <div id="unfollowSuccess" class="collapse errorMargin">
                                    <div id="unfollowSuccessContent" class="alert alert-success" role="alert"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--Footer-->
                          <div class="modal-footer">
                              <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                          </div>
                      </div>
                      <!--/.unfollowPanel-->
                  </div>

              </div>
          </div>
          <!--/.Content-->
      </div>
  </div>
</template>
