<template name="metadataTable">
  <table class="table table-striped table-sm">
    <tbody>
      <tr>
        <th>Make</th>
        <td>{{metadata.make}}</td>
      </tr>
      <tr>
        <th>Model</th>
        <td>{{metadata.model}}</td>
      </tr>
      <tr>
        <th>Lens</th>
        <td>{{metadata.lens}}</td>
      </tr>
      <tr>
        <th>Copyright</th>
        <td>{{metadata.copyright}}</td>
      </tr>
      <tr>
        <th>Shutter Speed</th>
        <td>{{metadata.exposure}}</td>
      </tr>
      <tr>
        <th>ISO</th>
        <td>{{metadata.iso}}</td>
      </tr>
      <tr>
        <th>Aperture</th>
        <td>{{metadata.aperture}}</td>
      </tr>
      <tr>
        <th>Flash</th>
        <td>{{metadata.flash}}</td>
      </tr>
      <tr>
        <th>Taken</th>
        <td>{{metadata.date}}</td>
      </tr>
      <tr>
        <th>Resolution</th>
        <td>{{metadata.pixelResX}}x{{metadata.pixelResY}} ({{metadata.width}})</td>
      </tr>
    </tbody>
  </table>
</template>
