<!-- Start code for profilepage components
	The already built fixed header will be used for the profile page.
	However, it is integrated with the profileSide.
!-->
<template name="uploadForm">
  {{> createModal}}
  {{> followModal}}
  <!-- Start ptofile body -->
  <div id="profileBody" class="container-fluid">
    <div class="row justify-content-center">
      <div id="profileContent" class="mx-auto col-sm-12 col-md-10 col-lg-8">
        <div class="row justify-content-center align-items-center profileTitleContent">
          <div class="col-2">
            <h3>Feed</h3>
          </div>
          <div class="col-10">
            <button class="hidden-sm-down btn btn-primary float-right" data-toggle="modal" data-target="#follow-unfollowUser">Manage Follows</button>
            <button class="hidden-sm-down btn btn-primary float-right" data-toggle="modal" data-target="#createPost">Create</button>
            <button class="hidden-md-up btn btn-primary float-right" data-toggle="modal" data-target="#createPost"><i class="fa fa-plus-square"></i></button>
            <button class="hidden-md-up btn btn-primary float-right" data-toggle="modal" data-target="#follow-unfollowUser"><i class="fa fa-address-book"></i></button>
          </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item col-3">
            <a class="nav-link waves-effect active" href="" id="publicPostsTab" role="tab">Discover</a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link waves-effect" href="" id="followingPostsTab">Following</a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link waves-effect" href="" id="privatePostsTab" role="tab">Yours</a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link waves-effect" href="" id="favouritePostsTab" role="tab">Favourites</a>
          </li>
        </ul>
        <hr>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- PUBLIC POSTS -->
          <div class="tab-pane active">
            {{#each uploadedPosts}}
              {{> postContents}}
            {{/each}}
          </div>

        </div>
        <div class="row justify-content-center align-content-center loadMoreButton">
          <a class="btn btn-primary" href="" id="loadMoreLink">Load more...</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="postContents">
  <div class="modal fade" id="fullscreen_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="#fullscreen_{{_id}}" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-top" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{fileName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-8 col-sm-12 float-left">
            <img id="modalFullscreenImages" class="img-fluid rounded d-block float-left" src="{{fileLink}}" alt="{{fileName}}" />
          </div>
          {{> commentsModal}}
        </div>
      </div>
    </div>
  </div>

  <div class="outerPostContent card col-12">
    <div class="innerPostContent row">
      <div class="col-12">
        <div id="extraOptions" class="btn-group float-right">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-ellipsis-h" aria-hidden="true"></i></a>
        
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" onclick="window.open(encodeURI('{{fileLink}}?download=true'),'_system')" target="_blank" href="">Download</a>
                {{#if isOwner}}
                <a class="dropdown-item" id="postDelete" href="">Delete</a>
                {{/if}}
            </div>
        </div>
      </div>

      <div id="imageSection" class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        {{#if thumbnailLink}} <!-- Needs to be back compatible when we didn't have thumbnails -->
          <a id="commentModalButton" role="button" data-toggle="modal" data-target="#fullscreen_{{_id}}">
            <img class="img-fluid rounded mx-auto d-block" src="{{thumbnailLink}}" alt="{{fileName}}" />
          </a>
        {{else}}
          <img class="img-fluid rounded mx-auto d-block" src="{{fileLink}}" alt="{{fileName}}" />
        {{/if}}
      </div>
      <div id="metadataSection" class="hidden-sm-down col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 float-left">
        <h4>Metadata</h4>
        {{> metadataTable}}
      </div>

      <div class="col-12">
        <h4 class="errorMargin">
          <u>{{title}}</u>
        </h4>
        <p class="">{{description}}</p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer"><cite><small><b>Uploaded: </b>{{createdAt}}</small></cite><b class="likeCount float-right">Likes: {{likes}}</b></footer>
        </blockquote>
      </div>

      <div class="col-12">
        <p class="float-left">
          By: {{this.username}}
          {{#if usernameisOwner}}
              (You)
          {{else}}
            {{#if isFollowing}}
              <a href="" id="unfollowUserLink">Unfollow?</a>
            {{else}}
              <a href="" id="followUserLink">Follow?</a>
            {{/if}}
          {{/if}}
        </p>
      </div>
      
      <div class="btn-group likeFavGroup col-12" role="group">
        {{#if ifLiked}}
        <button href="" id="unlikeButton" class="btn btn-primary"><span class="fa fa-thumbs-up" aria-hidden="true"></span></button>
        {{else}}
        <button href="" id="likeButton" class="btn btn-primary"><span class="fa fa-thumbs-o-up" aria-hidden="true"></span></button>
        {{/if}}

        {{#if ifFavourited}}
        <button href="" id="unfavourite" class="btn btn-warning"><span class="fa fa-star" aria-hidden="true"></span></button>
        {{else}}
        <button href="" id="favourite" class="btn btn-warning"><span class="fa fa-star-o" aria-hidden="true"></span></button>
        {{/if}}

        <button class="btn btn-info" role="button" id="commentModalButton" href="" data-toggle="modal" data-target="#fullscreen_{{_id}}" >
          <span class="fa fa-comments" aria-hidden="true"></span>
        </button>

        <button class="btn btn-info hidden-md-up" role="button" href="" data-toggle="collapse" data-target="#{{this._id}}" aria-expanded="false" aria-controls="{{this._id}}">
          <span class="fa fa-camera-retro" aria-hidden="true"></span>
        </button>
      </div>
      

      <div id="mobilemetadataSection" class="hidden-md-up col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 float-left">
        <div class="collapse" id="{{this._id}}">
          {{> metadataTable}}
        </div>
      </div>

    </div>
  </div>
</template>
