<template name="fixedNavigationBar">
  <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#fixedNavigation" aria-controls="fixedNavigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="align-middle navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand waves-effect waves-light" href="/"><img src="/img/logo-noshadow.svg" width="30" height="30" class="d-inline-block align-items-center" alt=""></a>
            <div class="collapse navbar-collapse" id="fixedNavigation">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.open(encodeURI('https://ajsystems.tech'),'_system')" target="_blank">Updates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tutorial">Tutorial</a>
                    </li>
                    {{#if currentUser}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Discover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#loginModal">Account Settings</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#loginModal">Signup/Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->
</template>
