<template name="tutorialVideo">
  <div class="container">
    <div class="row justify-content-center">
      <div class="videoContent col-md-12 col-lg-10">
        <h4>EXIF Basics</h4>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/To0XcN4G-aY" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</template>
