<template name="globalFooter">
    <div id="footer">
        <div class="container">
            <p class="text-muted">©<a href="https://ajsystems.tech">Annulus Studios (Annulus Share)</a> [2016] - [2019] All Rights Reserved</p>
        </div>
    </div>
</template>
