<!--
This is where the login ui will reside, the fullscreenShade will remove focus from the rest of the webpage to focus on the login ui.
The button that will trigger this modal is set in the homepage.html or will be places on the universal header.s
!-->
<template name="resettingPassword">
  {{> fixedNavigationBar}}
  <!-- reset password form when token is parsed -->
  <div class="container-fluid fullHeightContainer">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 ">
        <form id='resetPasswordForm'>
          <h2>Reset Password</h2>
          <br>
          <div class="md-form form-sm">
            <i class="fa fa-lock prefix"></i>
            <input id="resetPasswordNew" type="password" class="form-control form-control-danger" name="resetPassword">
            <label for="resetPasswordNew">New password</label>
          </div>
          <div class="md-form form-sm">
            <i class="fa fa-lock prefix"></i>
            <input id="resetPasswordConfirm" type="password" class="form-control form-control-danger" name="resetPasswordConf">
            <label for="resetPasswordConfirm">Confirm new password</label>
          </div>
          <div>
            <p style="color: red;" class="collapse" id="resetPasswordFailMessage"></p>
            <p style="color: green;" class="collapse" id="resetPasswordSuccessMessage"></p>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-elegant waves-effect">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="changePassword">
    <p>Change your password:</p>
    <form id='changePassword'>
      <div class="md-form form-sm">
        <i class="fa fa-lock prefix"></i>
        <input id="changePasswordOld" type="password" class="form-control form-control-danger" name="oldPassword">
        <label for="changePasswordOld">Old Password</label>
      </div>
      <div class="md-form form-sm">
        <i class="fa fa-lock prefix"></i>
        <input id="changePasswordNew" type="password" class="form-control form-control-danger" name="newPassword">
        <label for="changePasswordNew">New password</label>
      </div>
      <div class="md-form form-sm">
        <i class="fa fa-lock prefix"></i>
        <input id="changePasswordNew2" type="password" class="form-control form-control-danger" name="newPasswordConf">
        <label for="changePasswordNew2">Confirm new password</label>
      </div>
      <div class="md-form form-sm">
        <button type="submit" class="btn btn-elegant">Change Password</button>
      </div>
      <div>
        <p style="color: green;" class="collapse" id="successResetPass">Changed password successfully.</p>
        <p style="color: red;" class="collapse" id="changePasswordFailMessage"></p>
      </div>
    </form>
</template>

<template name="loginSignupUI">
  <!--Modal: Login / Register Form-->
  <div class="modal fade mdModal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog modal-lg cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

              <!--Modal cascading tabs-->
              <div class="modal-c-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#loginPanel" role="tab"><i class="fa fa-user mr-1"></i> Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#registerPanel" role="tab"><i class="fa fa-user-plus mr-1"></i> Register</a>
                      </li>
                  </ul>

                  <!-- Tab panels -->
                  <div class="tab-content">
                      <!--loginPanel-->
                      <div class="tab-pane fade in show active" id="loginPanel" role="tabpanel">

                          <!--Body-->
                          <div class="modal-body mb-1">
                              {{#if currentUser}}
                              <!-- Change password form when logged in -->
                                <div class="md-form form-sm">
                                  <p>Currently logged in as: {{ currentUser.username }}.</p>
                                  <button type="button" class="btn btn-elegant logout">Log Out <i class="fa fa-sign-out ml-1"></i></button>
                                </div>
                                <hr>
                              {{> changePassword}}
                              {{else}}
                              <form id='loginForm'>
                                <div class="md-form form-sm">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input id="loginFormEmail" type="email" class="form-control form-control-danger" name="loginEmail">
                                    <label for="loginFormEmail">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fa fa-lock prefix"></i>
                                    <input id="loginFormPassword" type="password" class="form-control form-control-danger" name="loginPassword">
                                    <label for="loginFormPassword">Your password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button type="submit" class="btn btn-elegant">Log in <i class="fa fa-sign-in ml-1"></i></button>
                                </div>
                                <br>
                                <div id="loginFailContent">
                                  <p id="loginFailMessage" class="collapse"></p>
                                </div>
                              </form>
                                <!-- Forgot password group -->
                                <div class="collapse" id="forgotPasswordGroup">
                                  <div>
                                    <hr>
                                    <form id='forgotPasswordForm'>
                                      <p>Send a password reset email:</p>
                                      <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input id="forgotPasswordEmail" type="email" class="form-control" name="forgotEmail">
                                        <label for="forgotPasswordEmail">Account Email</label>
                                      </div>

                                      <div class="md-form form-sm">
                                        <button type="submit" class="btn btn-elegant">Send <i class="fa fa fa-send-o ml-1"></i></button>
                                      </div>
                                      <div class="md-form form-sm">
                                        <p style="color: red;" class="collapse" id="forgotPasswordFormFail">Error.</p>
                                        <p style="color: green;" class="collapse" id="forgotPasswordFormSuccess">Error.</p>
                                      </div>
                                    </form>

                                  </div>
                                </div>
                                <!-- ./Forgotpassword -->
                              {{/if}}


                          </div>
                          <!--Footer-->
                          <div class="modal-footer display-footer">
                            {{#if currentUser}}
                            {{else}}
                            <div class="options text-center text-md-right mt-1">
                                <p>Forgot <a id="forgotPasswordLink" data-target="#forgotPasswordGroup" data-toggle="collapse" aria-expanded="false" aria-controls="forgotPasswordGroup" class="blue-text">Password?</a></p>
                            </div>
                            {{/if}}

                            <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                          </div>

                      </div>
                      <!--/.loginPanel-->

                      <!--registerPanel-->
                      <div class="tab-pane fade" id="registerPanel" role="tabpanel">

                          <!--Body-->
                          <div class="modal-body">
                            {{#if currentUser}}
                            <div class="md-form form-sm">
                                <p>Logged in as: {{ currentUser.username }}.</p>
                                <button type="button" class="btn btn-elegant logout">Log Out <i class="fa fa-sign-out ml-1"></i></button>
                            </div>
                            {{else}}
                            <form id='signupForm'>
                              <div class="md-form form-sm">
                                  <i class="fa fa-user prefix"></i>
                                  <input type="text" name="formName" id="registrationName" class="form-control">
                                  <label for="registrationName">Your name</label>
                              </div>
                              <div class="md-form form-sm">
                                  <i class="fa fa-at prefix"></i>
                                  <input type="text" name="inputUsername" id="registrationUserName" class="form-control">
                                  <label for="registrationUserName">Your username</label>
                              </div>
                              <div class="md-form form-sm">
                                  <i class="fa fa-envelope prefix"></i>
                                  <input type="text" name="inputEmail" id="registrationEmail" class="form-control">
                                  <label for="registrationEmail">Your email</label>
                              </div>

                              <div class="md-form form-sm">
                                  <i class="fa fa-lock prefix"></i>
                                  <input type="password" name="inputPassword" id="registrationPassword" class="form-control">
                                  <label for="registrationPassword">Your password</label>
                              </div>

                              <div class="md-form form-sm">
                                  <i class="fa fa-lock prefix"></i>
                                  <input type="password" name="inputPasswordConf" id="registrationPassword2" class="form-control">
                                  <label for="registrationPassword2">Confirm password</label>
                              </div>

                              <fieldset class="additional-option">
                                  <input name="privacyCheck" type="checkbox" id="checkbox21">
                                  <label for="checkbox21">
                                    I agree to the <a class="blue-text" onclick="window.open(encodeURI('https://app.arian-it.com/privacy_policy'),'_system')" target="_blank">Privacy Policy agreement</a>.
                                  </label>
                              </fieldset>

                              <fieldset class="additional-option">
                                  <input name="TOSCheck" type="checkbox" id="checkbox21">
                                  <label for="checkbox21">
                                    I agree to the <a class="blue-text" onclick="window.open(encodeURI('https://app.arian-it.com/terms_of_service'),'_system')" target="_blank">Terms of Use/Service agreement</a>.
                                  </label>
                              </fieldset>

                              <div class="text-center form-sm mt-2">
                                  <button type="submit" class="btn btn-elegant">Sign up <i class="fa fa-sign-in ml-1"></i></button>
                              </div>
                              <div>
                                <p class="collapse red-text" id="signUpFail"></p>
                              </div>
                            </form>
                            {{/if}}
                          </div>

                          <!--Footer-->
                          <div class="modal-footer">
                              <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                          </div>
                      </div>
                      <!--/.registerPanel-->
                  </div>

              </div>
          </div>
          <!--/.Content-->
      </div>
  </div>
  <!--Modal: Login / Register Form-->
</template>
