@import "mixins.scss";
.cardPromotional {
  background-color: #2E2E2E;
  width: 100%;
  background-size: cover;
  .card {
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    @include transition-all(300ms);
    @include transformScale(1, 1);
    background-color: #3E4551;
    color: white;
  }
  .hoverEffect {
    @include transition-all(300ms);
    @include transformScale(1, 1);
  }
  .hoverEffect::after { //Pseudo element for the box shadow and scale animation (for better performance)
    content: '';
    opacity: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
    @include transition-all(300ms);
  }
  .hoverEffect:hover {
    @include transformScale(1.03, 1.03);
  }
  .hoverEffect:hover::after {
    @include transition-all(300ms);
    opacity: 1;
  }
}
.articleCards {
  margin-left: 2%;
  margin-right: 2%;
}
.card-deck {
  .imgContainer {
    height: 200px;
    width: 200px;
  }
  img {
    margin-top: 20px;
  }
}
