@import "mixins.scss";
.exifShowcase {
  @include transition-all(200ms);
  background-image: url("/img/example_image1.png");
  background-position: center;
  background-size: cover;
  height: 500px;
  #exifContentWide{
    padding-top: 2vh;
  }
  .exifContent {
    .btn {
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
    .card {
      color: white;
      background-color: #3E4551;
    }
    #exifMetadata {
      height: 100%;
    }
  }
}
