.fullHeightContainer {
  min-height: 95vh;
}
#loginFailContent {
  color: red;
}
.nav-tabs {
  .nav-item {
    width: 50%;
    color: white;
    padding: 10px;
    background-color: #2E2E2E;
    a {
      background-color: white;
    }
  }
}
.mdModal {
  @media screen and (min-width: 768px) {
    margin-top: -5vw;
  }
}
#resetPasswordForm {
  margin-top: 70px;
}
