@mixin user-select($user-select-value) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@mixin transition-all($transition-value) {
  transition-timing-function: ease-in-out;
  -webkit-transition: $transition-value;
     -moz-transition: $transition-value;
      -ms-transition: $transition-value;
       -o-transition: $transition-value;
          transition: $transition-value;
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
      -ms-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}
@mixin transformScale($x, $y) {
  -webkit-transform: scale($x, $y);
     -moz-transform: scale($x, $y);
      -ms-transform: scale($x, $y);
       -o-transform: scale($x, $y);
          transform: scale($x, $y);
}
