@import "mixins.scss";
.fixedNavbarProfile {
  @include transition-all(300ms);
  position: fixed;
  min-width: 100%;
  z-index: 10;
  top: 0;
  @include translate3d(0,0,0);
}

#modalFullscreenImages {
  max-height: 80vh;
}

.innerPostContent {
  padding-top: 15px;
  padding-bottom: 15px; 
}

.outerPostContent {
  margin-top: 15px;
  margin-bottom: 15px;
}

.loadMoreButton {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  cursor: pointer;
}

#mobilemetadataSection {
  margin-top: 10px;
}

.errorMargin {
  margin-top: 10px;
}

#profileContent {
  .profileTitleContent {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h3 {
    color: white;
  }
  .likeCount {
    padding-left: 8px;
  }
  .likeFavGroup {
    margin-bottom: 15px;
    @media screen and (max-width:768px) {
      width: 100%;
      .btn {
        width: 25%;
      }
    }
  }
  #extraOptions {
    .extraOptionsButton {
      margin-bottom: 10px;
      box-shadow: none;
      background: none;
      .fa-ellipsis-h {
        color:black;
      }
    }
  }

  .modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
  }

  #commentsContent {
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 15px;
  }
  
  .nav-tabs {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #212121;
  }
  .nav-item {
    @media all and (max-width: 500px) { /* screen size until 500px */
      .nav-link {
        font-size: 0.8em;
      }
    }
    @media all and (max-width: 400px) { /* screen size until 500px */
      .nav-link {
        font-size: 0.6em;
      }
    }
    .nav-link{
      @include transition-all(300ms);
      text-align: center;
      color: white;
      background-color: #212121;
      border: none;
    }
    .active {
      background-color: #4B515D;
      border: none;
    }
    .nav-link:hover {
      @include transition-all(300ms);
      background-color: #4B515D;
      border: none;
    }
  }
}

#profileBody {
  margin-top: 50px;
  min-height: 100vh;
  background-color: #212121;
}

#imageSection {
  blockquote {
    margin-top: 10px;
  }
  img {
    max-height: 600px; //Don't let the images take up the whole page.
  }
}
