.tutorialVideoBody {
  color: white;
  background-color: #2F2F2F;
  overflow: hidden;
  background: url("/img/fullscreenBackground.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 110vh;
}
.videoContent {
  margin-top: 80px;
}
