@import "mixins.scss";
.navigationBar {
  padding-top: 4vh;
  z-index: 1;
  color: white;
}

/* Navigation*/
.navbar {
    background-color: transparent;
    border-radius: 0;
    color: black;
    @include transition-all(300ms);
}
@media only screen and (max-width: 766px) {
    .navbar {
        background-color: #2E2E2E;
    }
}
.top-nav-collapse {
    background-color: #2E2E2E;
    @include transition-all(300ms);
}

.navbarIcon {
  color: black;
  background-color: #2E2E2E;
}

//HEADER CONTENT
.description {
    padding-top: 5%;
    padding-bottom: 3rem;
    color: #fff
}
@media (max-width: 991px) {
    .description {
        padding-top: 3rem;
        text-align: center;
    }
}

.titleText {
  color: white;
  filter: drop-shadow(2px 2px 12px black);
}

.titleQuote {
  filter: drop-shadow(2px 2px 12px black);
}

.homeHeader {
  border-left: none;
  border-right: none;
  overflow: hidden;
  position: relative;
  min-height: 650px;
  height: 100vh;
  width: 100%;
  color: black;
  overflow: hidden;
  background: url("/img/fullscreenBackground.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//FIXED NAVIGATION BAR
.homepageContentLeft {
  @include transition-all(1000ms);
  opacity: 0;
  @include translate3d(-100px, 0 ,0);
}
.homepageContentRight {
  @include transition-all(1000ms);
  opacity: 0;
  @include translate3d(100px,0,0);
}
.homepageContentDown {
  @include transition-all(1000ms);
  opacity: 0;
  @include translate3d(0,100px,0);
}
.revealContent {
  @include transition-all(1000ms);
  opacity: 100;
  @include translate3d(0,0,0);
}
.fixedNavbar {
  @include transition-all(300ms);
  position: fixed;
  min-width: 100%;
  z-index: 10;
  opacity: 0;
  @include translate3d(0,0,0);
}
.showNavbar {
  @include transition-all(300ms);
  z-index: 10;
  opacity: 1;
  top: 0;
  @include translate3d(0,0,0);
}
