<template name="Homepage_Header">
  <div class="homeHeader hm-black-light">
    <div class="full-bg-img flex-center">

      <!--Two-column-->
      <div class="container">
          <div class="row">

              <!--First column-->
              <div id="homepageContentLeft" class="col-lg-6 homepageContentLeft">
                  <div class="description">
                      <h2 class="h2-responsive titleText" data-wow-delay="0.2s">Welcome to Annulus Share </h2>
                      <hr class="hr-dark titleQuote">
                      <p>Annulus Share is a platform that enables photography beginners, enthusiasts, and professionals to explore photography, learn from others, and share their work. Every photo contains metadata that is shared among users and is automatically extracted from each uploaded image. We give users the freedom to share their work as well as their methods and techniques.</p>
                      <br>
                      {{#if currentUser}}
                      <a href="/profile" class="btn waves-effect btn-primary">Discover</a>
                      {{else}}
                      <a href="" data-toggle="modal" data-target="#loginModal" class="btn waves-effect  btn-primary">Get Started</a>
                      {{/if}}
                  </div>
              </div>
              <!--/.First column-->

              <!--Second column-->
              <div id="homepageContentRight" class="col-lg-6 homepageContentRight">

                  <div class="embed-responsive embed-responsive-16by9">
                    <video autoplay muted no-controls>
                      <source src="/img/logoPromotion.mp4" type="video/mp4">
                      <source src="/img/logoPromotion.webm" type="video/webm">
                      <source src="/img/logoPromotion.ogv" type="video/ogg">
                    </video>
                  </div>

              </div>
              <!--/Second column-->
          </div>
      </div>
      <!--/.Two-column-->

    </div>
  </div> <!--./Header Content -->

</template>

<template name="Card_Promotional">

  <div class="container-fluid cardPromotional">
    <div class="row justify-content-center">
      <div class="card-deck col-12">
          <div id="cardContentLeft" class="card">
            <div class="mx-auto imgContainer hoverEffect">
              <img class="card-img-top mx-auto" src="/img/people-logo.svg" alt="Article card social.">
            </div>
            <div class="card-block hoverEffect">
              <h4 class="card-title">Social</h4>
              <p class="card-text">Share your photography, showcase your skills, and connect socially with others.</p>
              {{#if currentUser}}
              <a href="/profile" role="button" class="btn waves-effect btn-primary">Browse</a>
              {{else}}
              <a href="" data-toggle="modal" data-target="#loginModal" role="button" class="btn waves-effect  btn-primary">Browse</a>
              {{/if}}
            </div>
          </div>
          <div id="cardContentMiddle" class="card">
            <div class="mx-auto imgContainer hoverEffect">
              <img class="card-img-top mx-auto" src="/img/monetize-logo.svg" alt="Article card Free.">
            </div>
            <div class="card-block hoverEffect">
              <h4 class="card-title">Free</h4>
              <p class="card-text">Annulus Share is a completely free service, there are no signup fees or subscriptions.</p>
              <a href="" data-toggle="modal" data-target="#loginModal" role="button" class="btn waves-effect  btn-primary">Sign Up</a>
            </div>
          </div>
          <div id="cardContentRight" class="card">
            <div class="mx-auto imgContainer hoverEffect">
              <img class="card-img-top mx-auto" src="/img/camera-logo.svg" alt="Article card EXIF.">
            </div>
            <div class="card-block hoverEffect">
              <h4 class="card-title">EXIF Information</h4>
              <p class="card-text">Capture all sorts of details and information regarding the camera model, make, aperture, shutter speed/esposure-time, and so on.</p>
              {{#if currentUser}}
              <a href="/profile" role="button" class="btn waves-effect btn-primary">Upload</a>
              {{else}}
              <a href="" data-toggle="modal" data-target="#loginModal" role="button" class="btn waves-effect  btn-primary">Upload</a>
              {{/if}}
            </div>
          </div>
      </div>
    </div>
  </div>
</template>
