/* CSS declarations go here */
/* Some global CSS values */
@import "{}/client/ui/stylesheets/welcomeBanner.scss";
@import "{}/client/ui/stylesheets/cardPromotional.scss";
@import "{}/client/ui/stylesheets/exifShowcase.scss";
@import "{}/client/ui/stylesheets/profilePage.scss";
@import "{}/client/ui/stylesheets/loginSignupUI.scss";
@import "{}/client/ui/stylesheets/tutorialPage.scss";
@import "{}/client/ui/stylesheets/mixins.scss";

//Some global variables
body {
  min-width: 300px; //Avoid breaking on very tiny displays
}
#footer {
  background-color: #2E2E2E;
  padding-top:20px;
  padding-bottom:15px;
}
